<!DOCTYPE html>
<html>

<head>
	<title>Watch it</title>

	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="marvel.css">
</head>



<body>


<ul id="ul1">
	<li class="menulist"><a class="menulista" href="home.html">Начало</a></li>
	<li class="menulist"><a class="menulista" href="theatre.html">Театър</a></li>
	<li class="menulist"><a class="menulista" href="cinema.html">Кино</a></li>
	<li class="menulist"><a class="menulista" href="most popular.html">Популярни</a></li>
</ul>
<img style="width: 230px; height:auto; margin-top: -4200px; margin-bottom: 0px" src="logo.png"> 
<div id="about-the-page">
	<div id="fuckit">
		<h1 id="about">Информация</h1>
	</div>
	<div class="row">
		<div class="cell">
			<img id = "film-img" src="novasmart.jpeg" alt="lol">
		</div>
		<div class="cell">
            <div class="header">Честита Нова Смърт 2D</div>
            <div class="article"> Играй или умри е психологически трилър за шестима непознати, които се оказват в ситуация извън техния контрол и трябва да използват своя ум, за да намерят изход или да се простят с живота си.Джесика Рот е начело на завръщащия се актьорски състав в Честита нова смърт – продължението на приковаващия вниманието, предлагащ поредица от повтарящи се драматични и забавни обрати, изненадващ хит на Blumhouse (На парчета, Бягай!, Чистката) от 2017 г. Този път нашата героиня Трий (Рот) открива, че да умираш отново и отново се оказва, изненадващо, далеч по-лесно от опасностите, които предстоят.</div>
            <div class="vreme">Времетраене: 101 минути<br>Премиера: 8 март 2019 г.<br>Режисьор: Анна Боден<br>Жанр: Екшън - Приключенски</div>
            <div class = "in-witch-cinema"> -<span></span>Кино Арена Младост
София, ж.к. Младост 4, ул. Бизнес Парк 3<br>-<span></span>
0893457176 / Кино Арена Запад<br>-<span></span>
гр. София, Западен парк, бул. Тодор Александров 64<br>-<span></span>
0893457175 / Кино Арена Grand Mall Варна<br>-<span></span>
гр. Варна, ул. Акад. Андрей Сахаров (до централна автогара)</div>
            <div class="price">Цена: 9.50лв.</div>
            <div class = "link"><a href = "https://www.kinoarena.com/bg/movie/chestita-nova-smart">Цъкни за оригналния сайт</a></div>
		  
        </div>
    </div>
	
    

    
</div>

</body>

</html>