<!DOCTYPE html>
<html>

<head>
	<title>Watch it</title>

	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="marvel.css">
</head>



<body>


<ul id="ul1">
	<li class="menulist"><a class="menulista" href="home.html">Начало</a></li>
	<li class="menulist"><a class="menulista" href="theatre.html">Театър</a></li>
	<li class="menulist"><a class="menulista" href="cinema.html">Кино</a></li>
	<li class="menulist"><a class="menulista" href="most popular.html">Популярни</a></li>
</ul>
<img style="width: 230px; height:auto; margin-top: -4200px; margin-bottom: 0px" src="logo.png"> 
<div id="about-the-page">
	<div id="fuckit">
		<h1 id="about">Информация</h1>
	</div>
	<div class="row">
		<div class="cell">
			<img style = "width: 210px;"id = "film-img" src="https://www.kinoarena.com/uploads/media/stenik_movies_image/0001/11/thumb_10522_stenik_movies_image_index.jpeg" alt="lol">
		</div>
		<div class="cell">
            <div class="header">Снежната Кралица: Огледалното царство REAL 3D</div>
            <div class="article">Всеки в семейството на Герда е магьосник, но тя няма никакви вълшебни сили. Това е причината да смята себе си за напълно безполезна и ненужна.<br>
Могъщият крал Харолд e човек на науката, който едва не изгубил сина си заради злата Снежна кралица. Той е твърдо решен да се отърве от всички магьосници и да изкорени магията от света.<br>
Кралят измисля подла лъжа, с която успява да подмами всички, които притежават дарба, и ги превежда през магически портал в Огледалното царство.<br>
Порталът е еднопосочен и така никой от магьосниците не е способен да се върне обратно без помощ отвън.
А в Огледалното царство е заточена Снежната кралица, която властва там еднолично.<br>
Тя и магьосниците трябва да сключат примирие, за да намерят начин да се свържат с единствения човек на света, който може да ги освободи – Герда.<br>
Така младото момиче, с помощта на своите верни приятели, трябва да се изправи срещу могъщия крал и да го победи в една на пръв поглед предречена битка.<br>
На помощ на Герда идват и неочаквани съюзници. Защото „понякога да се довериш на бивш враг е единственият начин да победиш“.<br>
И не на последно място на помощ идва най-могъщата магия на света, която Герда владее до съвършенство – силата на обичта.</div>


            <div class="vreme">Времетраене: 2 часа и 30 минути<br>Премиера: 09.03.2018г.<br>Режисьор:Марий Росен<br>Кога? Къде?: 17 март (неделя), Голяма сцена, 19:00</div>
            <div class = "in-witch-cinema"> -<span></span>Кино Арена Панорама Мол Плевен<br>
гр. Плевен, пл. „Иван Миндиликов“ №1, ет. 2<br>
0894 388 139|Кино Арена The MALL<br>
гр. София, Бул. Цариградско шосе 115, The MALL<br>
0898 460 557|Кино Арена Grand Mall Варна<br>
гр. Варна, ул. Акад. Андрей Сахаров (до централна автогара), търговски център Grand Mall<br>
0894 404 482|Кино Арена Младост<br>
София, ж.к. Младост 4, ул. Бизнес Парк 3<br>
0893457176|Кино Арена Делукс Bulgaria Mall<br>
гр. София, Бул. България 69, Търговски център Bulgaria Mall<br>
0898 480088|Кино Арена Смолян<br>
гр. Смолян, бул. България 8, сградата на Родопски Драматичен Театър<br>
0899 833 387|Кино Арена Парк Мол Стара Загора<br>
гр. Стара Загора, бул. Никола Петков 52<br>
0894 338 215|Кино Арена Запад<br>
гр. София, Западен парк, бул. Тодор Александров 64<br>
0893457175</div>	
            <div class="when">Кога? Къде?: 22 март, Голяма сцена, 19:00</div>
            <div class = "link"><a href = "https://www.kinoarena.com/bg/movie/snejnata-kralitsa-ogledalnoto-tsarstvo-reald-3d">Кликни тук за официалния сайт: Тук!</a></div>
		  
        </div>
    </div>
	
    

    
</div>

</body>

</html>