<!DOCTYPE html>
<html>

<head>
	<title>Watch it</title>

	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="marvel.css">
</head>



<body>


<ul id="ul1">
	<li class="menulist"><a class="menulista" href="home.html">Начало</a></li>
	<li class="menulist"><a class="menulista" href="theatre.html">Театър</a></li>
	<li class="menulist"><a class="menulista" href="cinema.html">Кино</a></li>
	<li class="menulist"><a class="menulista" href="most popular.html">Популярни</a></li>
</ul>
<img style="width: 230px; height:auto; margin-top: -4200px; margin-bottom: 0px" src="logo.png"> 
<div id="about-the-page">
	<div id="fuckit">
		<h1 id="about">Информация</h1>
	</div>
	<div class="row">
		<div class="cell">
			<img style = "width: 210px;"id = "film-img" src="razvratnikat.jpg" alt="lol">
		</div>
		<div class="cell">
            <div class="header">Развратникът</div>
            <div class="article">Как могат да се дават вечни обещания в един преходен свят - възкликва философът Дидро, който е главният герой в пиесата на Ерик-Еманюел Шмит. Ако продължим в този дух, можем да попитаме какво въобще си струва да се прави, при положение че всичко е така нетрайно. Столетия наред човек се опитва да намери стабилна, непроменлива основа, върху която да гради живота си, постоянен център, в чиято орбита да установи неговия смисъл. Това усилие обаче често прераства в обикновен фанатизъм и нищо повече. Но спасение ли е фанатизмът? И ако не е, какво друго ни остава? Да се отдадем на униние и мъка? Не.<br>

Можем да бъдем парадоксално смели и да прегърнем превратната съдба, да не осъждаме промените, да иронизираме успехите, да не се потискаме от провалите и да вярваме в истината на смеха и целувките. Спектакълът, който имах удоволствието да режисирам, ни окуражава в тази посока.</div>


            <div class="vreme">Времетраене: 75мин <br>Премиера: 03.12.2016г.<br>Режисьор: Василена Радева<br>Кога? Къде?: 23 март (събота), Голяма сцена, 19:00</div>
            <div class = "in-witch-cinema"> -<span></span>Театър София</div>
            <div class="when">Кога? Къде?: 23 март (събота), Голяма сцена, 19:00</div>
            <div class = "link"><a href = "http://www.theatre.art.bg/profil_postanovka.php?id=3751&theatre=1&city=20">Покупка на билети: Тук!</a></div>
		  
        </div>
    </div>
	
    

    
</div>

</body>

</html>