<!DOCTYPE html>
<html>

<head>
    <title>Watch it</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/theatre.css">
</head>

<body>

    <ul id="ul1">
        <li class="menulist"><a class="menulista" href="/">Начало</a></li>
        <li class="menulist"><a class="menulista" href="/theatre">Театър</a></li>
        <li class="menulist"><a class="menulista" href="/cinema">Кино</a></li>
        <li class="menulist"><a class="menulista" href="/most-popular">Популярни</a></li>
    </ul>
    <img style="width: 230px; height:auto; margin-top: -4200px; margin-bottom: 0px" src="/static/img/logo.png" />
    <div id="about-the-page">
        <div id="fuckit">
            <h1 id="about">Изберете филм</h1>
        </div>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search for..." title="Type in a category">
        <ul id="myMenu">
            <li>
                <div class="myMenu">
                    <div class="cell">
                        <img id="film-img" src="/static/img/marvalImax.jpeg" alt="lol">
                    </div>
                    <div class="cell">
                        <div class="header"><a href="marvel.html">КАПИТАН МАРВЕЛ IMAX 3D</a></div>

                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/marvel.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#"> КАПИТАН МАРВЕЛ REALD 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/favoritkata.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="favoritkata.html">ФАВОРИТКАТА</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/vsichko.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="vsichko.html"> Всичко, което не искаш да знаеш за родителите си</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/ubivash.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="ubivash.html">>Можеш ли да убиваш</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/zelenata%20kniga.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Зелената книга</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/kralica.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#"> Снежната кралица: Огледалното царство RealD 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/semeini.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Семейни кютеци</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/studeno.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Студено отмъщение</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/alita.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Алита: Боен Ангел REALD 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/novasmart.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Честита нова смърт</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/lego.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">LEGO: Филмът 2 REALD 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/trafikantat.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Трафикантът</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/drakon.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Как да си дресираш дракон: Тайнственият свят 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/fatalnozatishie.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Фатално затишие</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/escaperoom.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Escape Room: Играй или умри</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/akvamen.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Аквамен RealD 3D</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/rapsodia.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Бохемска рапсодия</a></div>

                    </div>

                </div>
            </li>
            <li>
                <div class="row">
                    <div class="cell">
                        <img id="film-img1" src="/static/img/zvezda.jpeg" alt="film">
                    </div>
                    <div class="cell">
                        <div class="header1"><a href="#">Роди се звезда</a></div>

                    </div>

                </div>
            </li>

        </ul>
    </div>
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myMenu");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>