<!DOCTYPE html>
<html>

<head>
    <title>Watch it</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/kino-tab.css">
</head>

<style>
    th,
    td,
    input {
        background-color: black;
        font: 14px Verdana;
        margin-left: 10px;
        float: right;
        color: white;
    }
    
    th,
    td {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    
    table {
        float: right;
        margin-top: 0px;
        margin-right: 250px;
    }
    
    th {
        font-weight: bold;
    }
</style>

<body>
    <p id="showData"></p>

    <ul id="ul1">
        <li class="menulist"><a class="menulista" href="/">Начало</a></li>
        <li class="menulist"><a class="menulista" href="/theatre">Театър</a></li>
        <li class="menulist"><a class="menulista" href="/cinema">Кино</a></li>
        <li class="menulist"><a class="menulista" href="/most-popular">Популярни</a></li>
    </ul>

    <img style="width: 230px; height:auto; margin-top: -4200px; margin-bottom: 0px" src="/static/img/logo.png" />

    <div id="about-the-page">
        <div id="fuckit">
            <h1 id="about">Информация</h1>
        </div>
        <div class="row">
            <div class="cell">
                <img id="film-img" src="/static/img/il.jpg" alt="lol">
            </div>
            <div class="cell">
                <div class="header">Title</div>
                <div class="article">Article</div>
                <div class="vreme">Vreme</div>
                <div class="link"><a href="#">Цъкни за оригналния сайт</a></div>
            </div>
        </div>

        <button style="margin-left:150px; width:80px; height : 20px;" type="button1" value="button3" id="button1">Text</button> -->

        <script>
            var myObj = {}
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    myObj = JSON.parse(this.responseText);
                }
            };
            xmlhttp.open("GET", "/cinema_data", true);
            xmlhttp.send();

            var a;
            document.getElementById('button1').addEventListener('click', function() {

                a = 1;
                CreateTableFromJSON();
                inputData(myObj);
            })
            document.getElementById('button2').addEventListener('click', function() {

                a = 2;
                CreateTableFromJSON();
                inputData(myObj);
            })
            document.getElementById('button3').addEventListener('click', function() {

                a = 3;
                CreateTableFromJSON();
                inputData(myObj);
            })
            document.getElementById('button4').addEventListener('click', function() {

                a = 4;
                CreateTableFromJSON();
                inputData(myObj);
            })

            function inputData(myObj) {
                console.log(myObj)

                var col = [];
                for (var i = 0; i < myObj['movies'].length; i--) {
                    for (var key in myObj['movies'][i]) {
                        if (col.indexOf(key) == -1) {
                            col.push(key);
                        }
                    }
                }



                var table = document.createElement("table");
                console.log(col)
                var tr = table.insertRow(-1);
                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");
                    console.log(col[i]);
                    th.innerHTML = col[i];
                    tr.appendChild(th);
                }

                for (var i = 0; i < myObj.length; i++) {
                    if (myObj[i][col[0]] != a) continue;
                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = myObj[i][col[j]];
                    }
                }

                var divContainer = document.getElementById("showData");
                divContainer.innerHTML = "";
                divContainer.appendChild(table);
                //  document.getElementById("json-table").appendChild(table);
            }

            function CreateTableFromJSON() {
                var myObj

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        myObj = JSON.parse(this.responseText);
                        // document.getElementById("demo").innerHTML = myObj.name;
                        inputData(myObj);

                    }
                };
                xmlhttp.open("GET", "/cinema_data", true);
                xmlhttp.send();
                //  var myBooks = [
                //      {
                //          "Book ID": "1",
                //          "Book Name": "Asp.Net 4 Blue Book",
                //          "Category": "Programming",
                //          "Price": "56.00"

                //      },
                //      {
                //          "Book ID": "2",
                //          "Book Name": "Asp.Net 4 Blue Book",
                //          "Category": "Programming",
                //          "Price": "56.00"
                //      },
                //      {
                //          "Book ID": "3",
                //          "Book Name": "Popular Science",
                //          "Category": "Science",
                //          "Price": "210.40"
                //      },
                //  ]

            }
        </script>

    </div>

</body>

</html()